$rose: #f899a9;
$mandarin: #F69454;
$white: #FCFCFA;
$l_green: #98DBC6;
$green: #5BC8AC;
$yellow: #E6D72A;
$morokov: #EE693F;
$rose_g: #FFBEBD;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaaaaa; 
    border-radius:25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888585; 
}


.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

// HEADER

.header{
    width: 100%;
    height: 70px;
    background-color: $rose;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    margin: 0;

    
    &__link {
        cursor: pointer;
        margin-left: 20px;
        margin-top: 30px;
        display: inline-block;
        line-height: 1;
        color:$white;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
    
    &:after{
        background-color: $morokov;
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    &:hover:after,
    &:focus:after {
    width: 100%;
}
    }
}

.logo {
    
    &__img {
        width: 60px;
    }
}

.title {
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    float: left;
    color:$l_green;
    text-shadow: #2f7966 0 0 3px;
}

.tg {
    margin-top: 5px;
    &__text {
        color:$white;
        margin-left: -15px;
    }
}

.fa-telegram-plane {
    margin-left: 36px;
    font-size: 35px;
    color:$green;
    cursor: pointer;
}

main {
    margin-top: 100px;
}

.main__inner {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;

}



/* стили основного контейнера слайдера */
.slider {
    position: relative;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
    position: relative;
    overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
    display: flex;
    transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
    flex: 0 0 100%;
    width: 100vw;
    height: 140vh;
    margin-top: -120px;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
    display: none;
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
    display: none;
}

.slider__control_prev {
    left: 0;
    display: none;
}

.slider__control_next {
    right: 0;
    display: none;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
    background-color: #fff;
}

.img-fluid {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.custom_slider {
    position: relative;
    left: 45%;
    top: 50%;
}

.custom__text {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    color:$white;
    margin-left: -80px;
    margin-bottom: 40px;
}

.more {
    margin-left: -115px;
}

.btn {
    border: 2px solid $white;
    background-color: inherit;
    padding: 15px 20px;
    color:$white;
    cursor: pointer;

    &:hover{
        color:rgb(51, 51, 51);
        transition: .5s linear;
        background-color: white;
        webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}