$rose: #f899a9;
$mandarin: #F69454;
$white: #FCFCFA;
$l_green: #98DBC6;
$green: #5BC8AC;
$yellow: #ffea00;
$morokov: #EE693F;
$tiger: #FC6A03;
$blue: #337BAE;
$rose_g: #FFBEBD;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

div {
    scroll-behavior: smooth; 
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

span {
    color:rgb(255, 42, 42);
    font-weight: 500;
}

.class_for_anchor {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaaaaa; 
    border-radius:25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888585; 
}


.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}



.header{
    width: 100%;
    height: 70px;
    background-color: $rose;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    margin: 0;

    &__link {
        cursor: pointer;
        margin-left: 20px;
        margin-top: 30px;
        display: inline-block;
        line-height: 1;
        color:$white;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
    
    &:after{
        background-color: $morokov;
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    &:hover:after,
    &:focus:after {
    width: 100%;
}
    }
}

.active::after {
    background-color: $morokov;
        display: block;
        content: "";
        height: 3px;
        width: 100%;
        position: relative;
        
}

.logo {
    
    &__img {
        width: 60px;
    }
}

.title {
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    float: left;
    color:$l_green;
    text-shadow: #2f7966 0 0 3px;
}

.tg {
    margin-top: 5px;
    &__text {
        color:$white;
        margin-left: -15px;
    }
}

.fa-telegram-plane {
    margin-left: 36px;
    font-size: 35px;
    color:$green;
    cursor: pointer;
}

.main__aside-fixed {
    position: fixed;
}

.navigation {
    float: left;
    background-color: $rose_g;
    width: 17%;
    text-align: center;
    height: 100%;

    &__fixed {
        position: fixed;
        max-width: 20%;
        top: 70px;
    }

    &__uppper-text {
        margin-top: 15px;
        font-weight: 700;
        color: $green;
        position: relative;
        left: 20%;
        width: 200px;
        margin-left: 20px;
        margin-bottom: 20px;
        
    }
}

.section {
    display: flex;
    margin:0 auto;
    height: 4000px;
}

main {
    flex-grow: 1;
    background-color: white;
    float: left;
}

aside {
    flex-shrink:0;
    width:280px;
    height: 100%;
    background-color: $rose_g;
}

section ul {
    padding: 0;
    margin: 0;
    position: relative;
}

section a {
    display:block;
    padding: 15px 20px;
    text-align: center;
    color:#FFF;
    font-size:30px;
    text-decoration:none;
    
}

section a:hover {
    -webkit-transition: .4s ease-in-out;
    -moz--transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    color: $green;
}

// ЗАМЕНИТЬ НА DB ЧТО БЫ УБРАТЬ ПРОБЕЛЫ
section ul ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease;
   
}

section ul li:hover > ul{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

section ul ul li {
    float:none;
    position: relative;
}

section {
    margin-bottom: 40px;
}


.aside {
    float: right;
    width: 17%;
    height: 100%;
    background-color: $rose_g;
    text-align: center;


    &__text {
        position: fixed;
        top:70px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__uppper-text {
        margin-top: 25px;
        font-weight: 700;
        color: $green;
        text-align: center;
        margin-bottom: 40px;
    }

    &__lower-text {
        text-align: left;
        color: $white;
        font-size: 18px;

        &-link {
            text-decoration: none;
            color:$white;
            
        }

        &-link2 {

            &:hover {
                color:rgb(233, 233, 233);
                border-bottom: 3px solid $green;
                transition: .3s;
            }
        }
        p {
            margin-top: 10px;
            margin-left: 10px;
        }

    
    }

    &__upper-texts {
        margin-top: 40px;
        font-weight: 700;
        color: $green;
        margin-bottom: 40px;
    }

        &__lower-texts {
            text-align: left;
            color: $white;
            font-size: 18px;

            p {
                margin-top: 10px;
                margin-left: 10px;
            }
        }   
}

.main { 
    width: 100%;
    margin: 0 auto;
    height: 100%;

    &__upper-text {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 50px;
        text-align: center;
        margin-top: 30px;
        color: $tiger;
        text-decoration: none;

        &-link {
            text-decoration: none;
            color: $tiger;
            font-size: 50px;
        }
    }
}

.mask__main {
    margin-left: 50px;
}

.blog {
    text-align: center;
    padding-top: 20px;
    margin-right: 200px;
}

.title__main {
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 50px;
    position: relative;
    left: 70px;
    text-decoration: underline;
}

.title__text {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin-left: 25%;
    font-size: 18px;
    line-height: 1.3em;
    
}

.main__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__img {
    margin-top: 50px;
    width: 850px;
    max-height: auto;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
    left: 120px;
}

.left_side {
    text-align: left;
}

.main__pb {
    margin-top: 20px;
}



@media (max-width: 1350px) {

    .aside__uppper-text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .aside__upper-texts {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .aside__lower-texts {
        font-size: 15px;
    }

    .aside__lower-text {
        font-size: 15px;
    }

    .aside__text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navigation__uppper-text {
        font-size: 20px;
    }

     .mask__main{
        font-size: 18px;
    }

    .title__text {
        font-size: 17px;
    }

    .title__img {
        width: 700px;
    }
}

@media (max-width: 1110px) {

    section ul ul {
        opacity: 1;
        visibility: visible;
    }

    .navigation__uppper-text {
        padding-right: 15px;
        max-width: 130px;
        text-align: center;
    }

    .nav__link {
        font-size: 18px;
    }

    .tg__text {
        font-size: 15px;
    }

    .main__upper-text-link {
        font-size: 45px;
    }

    .title__main {
        font-size: 40px;
    }

    .title__text {
        font-size: 16px;
    }

    .title__img {
        width: 550px;
    }
}

@media (max-width: 885px) {

    .navigation__uppper-text {
        padding-right: 50px;
        font-size: 18px;
    }

    .mask__main {
        font-size: 16px;
        padding-right: 35px;
    }

    .aside__uppper-text {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .aside__upper-texts {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .aside__lower-texts {
        font-size: 14px;
    }

    .aside__lower-text {
        font-size: 14px;
    }

    .main__upper-text-link {
        font-size: 43px;
    }

    .title__main {
        font-size: 35px;
    }

    .title__text {
        font-size: 15px;
    }

    .title__img {
        width: 450px;
    }

    .logo__img {
        width: 50px;
    }

    .logo {
        margin-top: 5px;
    }
}

@media (max-width:775px) {
    // IPAD

    section ul ul {
        opacity: 1;
        visibility: visible;
    }

    .header {
        position: fixed;
    }

    .main__pl {
        margin-top: 70px;
    }

    .aside {
        display: none;
    }

    .navigation {
        width: 24%;
    }

    .blog {
        margin-left: 100px;
    }

    .title__text {
        width: 70%;
        font-size: 17px;
    }

    .title__main {
        margin-left: 110px;
    }

    .main__upper-text-link {
        margin-left: 100px;
    }

    .title__img {
        margin-left: 110px;
    }

    .main__pl {
        margin-left: 90px;
    }

    .navigation__uppper-text {
        padding-right: 0;
    }

    .mask__main {
        padding-right: 0;
        padding-left: 25px;
    }

    .main__aside-fixed  {
        min-width: 20%;
    }
}

@media (max-width: 691px) {
    
    .main__aside {
        display: none;
        z-index: 500;
    }

    .navigation {
        width: 0%;
        display: none;
        z-index: 500;
    }

    .navigation__fixed {
        max-width: 0%;
        display: none;
        z-index: 500;
    }

    .blog {
        margin-left: 0;
        text-align: center;
    }

    .title__text {
        margin-left: 10%;    
        width: 80%;
        font-size: 18px;
    }

    .title__main {
        margin-left: 0;
        font-size: 40px;
    }

    .title__img {
         margin-left: 0;
         width: 520px;
    }

    .main__upper-text-link {
        margin-left: 0;
        font-size: 46px;
    }

    .main__pl {
        margin-left: 0;
    }

    .tg__text {
        display: none;
    }

    .tg__link {
        position: relative;
        top: 15px;
        right: 13px;
    }
}

@media (max-width: 560px) {
    .title {
        display: none;
    }

    .header {
        position: relative;
        height: 50px;
    }
    
    .logo__img {
        width: 35px;
    }

    .nav {
        position: relative;
        top:-10px;
    }

    .tg {
        position: relative;
        top:-10px;
    }

    .main__pl {
        margin-top: 0;
    }

    .nav__link {
        font-size: 16px;
    }

    .tg__link {
        right: 15px;
    }

    .logo__img {
        position: relative;
        left: 10px;
    }

    .main__upper-text-link {
        font-size: 40px;
    }

    .title__main {
        font-size: 35px;
    }

    .title__text {
        font-size: 16px;
    }

    .title__img {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 478px) {

    .nav__link{
        font-size: 14px;
    }

    .fa-telegram-plane {
        font-size: 30px;
    }

    .main__upper-text-link {
        font-size: 35px;
    }

    .title__main {
        font-size: 30px;
    }

    .title__text {
        font-size: 14px;
    }

    .title__img {
        width: 380px;
    }
}

@media (max-width: 405px) {
    .title__img {
        width: 350px;
    }

    .logo__img{
        position: relative;
        top:10px;
        width: 35px;
    }
}

@media (max-width: 382px) {
    .header {
        height: 50px;
    }

    .logo__img {
        position: relative;
        left: -10px;
        top:0px;
    }

    .tg {
        position: fixed;
        top:90%;
        left: 80%;
        z-index: 500;
    }

    .round_fab {
        background-color: $rose_g;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        position: fixed;
        top: 92%;
        left: 84%;
    }

    .header__inner {
        position: relative;
        justify-content: center;
    }

    .main__upper-text-link {
        font-size: 32px;
    }

    .main__upper-text {
        margin-top: 0;
    }

    .title__main {
        margin-bottom: 15px;
    }

    .title__img {
        width: 320px;
        margin-top: 20px;
        margin-bottom: 35px;
    }
}

@media (max-width: 353px) {

    .main__upper-text-link {
        font-size: 29px;
    }

    .nav__link {
        font-size: 13px;
    }

    .title__main {
        font-size: 28px;
    }

    .title__text {
        font-size: 13px;
        margin-left: 12%;
    }

    .title__img {
        width: 300px;
    }
}

@media (max-width: 340px) {

    .container {
        padding: 0;
    }

    .title__img {
        width: 270px;
    }
}

@media (max-width: 305px) {
    .logo__img {
        left: -15px;
    }

    .nav__link {
        font-size: 12px;
    }

    .nav {
        margin-left: -20px;
    }

    .main__upper-text-link {
        font-size: 27px;
    }

    .title__main {
        font-size: 26px;
    }

    .title__img {
        width: 250px;
    }

    .tg {
        left: 77%;
        top:88%;
    }

    .round_fab {
        top: 90.5%;
        left: 82.5%;
    }
}